.example-enter {
  opacity: 0.01;
  transition: opacity 4s ease-in; /** Not longer than 5s */
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity 4s ease-in; /** Not longer than 5s */
}

.example-leave.example-leave-active {
  opacity: 0.01;
}

.example-appear {
  opacity: 0.01;
  transition: opacity 4s ease-in;
}

.example-appear.example-appear-active {
  opacity: 1;
}